
body{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    opacity: 0.5;
    margin-left: 20px ;
  
    
}

img{
    border-radius: 50%;
}

#head{
    display: flex;
     
}

#nav{

    display: flex;
    flex: 1;
    justify-content: space-around;
    font-size: 1.2em;
  /* background-color: #f5f5f0;*/
    height:50px;
    padding: 20px;
    font-weight: bold;
   
   /* background-color: blue; 
   */
}
a:hover{
   color: brown; 
}


h2{
   
   font-size: 2em;
    text-decoration: underline;
    color: white;
}
button{
    position: relative;
    background-color: #e0e0d1;
    margin-left: 120px;
    margin-top: 0px;
    
    
}


#container{
    display: flex;
    
  height: 620px;

}
#content{
    display: flex;
    flex-direction: column;
    
    width: 900px;
    margin-left: 80px;
    margin-top: 60px;
}
#bar{
    position: relative;
    width: 100%; 
    background-color: blueviolet;
    margin-top: 10px;
    height: 15px;
}
#main{
    position: absolute;
    margin-left: 280px;
    margin-top: 170px;
   

}


#head #connexion{
    position: relative;
    margin-top: 20px;
    padding-right: 20px;
    
}

#txt{
    position: relative;
    font-size: 1.3em;
    margin-top: 130px;
    color: #232a41;
}